.cordafont{
    color: rgb(111, 160, 39);
}

.grid4{
    background-color: rgb(20, 87, 18);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 100px;
}